<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AGREEMENT</title>
    <meta name="author" content="rahul" />
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
      .s1 {
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: italic;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      h1 {
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      .p,
      p {
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
        margin: 0pt;
      }
      .s3 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }
      .s4 {
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      li {
        display: block;
      }
      #l1 {
        padding-left: 0pt;
        counter-reset: c1 1;
      }
      #l1 > li > *:first-child:before {
        counter-increment: c1;
        content: counter(c1, decimal) ". ";
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }
      #l1 > li:first-child > *:first-child:before {
        counter-increment: c1 0;
      }
      #l2 {
        padding-left: 0pt;
        counter-reset: d1 1;
      }
      #l2 > li > *:first-child:before {
        counter-increment: d1;
        content: counter(d1, lower-latin) ") ";
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      #l2 > li:first-child > *:first-child:before {
        counter-increment: d1 0;
      }
      #l3 {
        padding-left: 0pt;
        counter-reset: c2 1;
      }
      #l3 > li > *:first-child:before {
        counter-increment: c2;
        content: counter(c1, decimal) "." counter(c2, decimal) " ";
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      #l3 > li:first-child > *:first-child:before {
        counter-increment: c2 0;
      }
      #l4 {
        padding-left: 0pt;
        counter-reset: e1 1;
      }
      #l4 > li > *:first-child:before {
        counter-increment: e1;
        content: counter(e1, lower-latin) ". ";
        color: black;
        font-family: "Bookman Old Style", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }
      #l4 > li:first-child > *:first-child:before {
        counter-increment: e1 0;
      }
      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <p style="padding-top: 4pt; text-indent: 0pt; text-align: center">
      <span class="s1" style="background-color: #ff0"
        >(To be executed by Service Provider Rs. 600/- stamp paper/
        franking)</span
      >
    </p>
    <p style="padding-top: 14pt; text-indent: 0pt; text-align: left"><br /></p>
    <h1 style="padding-left: 63pt; text-indent: 0pt; text-align: center">
      SERVICES AGREEMENT
    </h1>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
      This Services Agreement is made and entered into at
      <u
        >{{providerName}}
      </u>
      on this <u>{{stamp_day}} </u>day of
      <u> {{stamp_month}} </u>,
      <u> {{stamp_year}} </u>between
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <h1 style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
      M/s. Alinea Healthcare Private Limited,
      <span class="p"
        >a company incorporated under the provisions of the Indian Companies Act
        1956, having its registered office at Unit 5, 4th floor, Awfis, Skyline
        Icon, Andheri - Kurla Road, Chimatpada, Marol, Andheri East, Mumbai,
        Maharashtra- 400059, - hereinafter referred to as </span
      >“Alinea”
    </h1>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="text-indent: 0pt; text-align: center">AND</p>
    <p
      style="
        padding-top: 14pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      M/s.
      <u>{{providerName}}</u>
      a {{FirmType}} having its registered office at
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p
      style="
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 1pt;
        text-align: left;
      "
    />
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      <u>
        {{address1}} &nbsp;&nbsp;&nbsp;&nbsp; </u
      >, - hereinafter referred to as <b>“Service Provider”.</b>
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      Whereas the Service Provider is engaged in the business of providing
      services for
      <u
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u
      >and has agreed to provide the services to Alinea.
    </p>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: left">
      NOW THEREFORE IT IS AGREED BY AND BETWEEN THE PARTIES HERETO AS FOLLOWS:
    </p>
    <ol id="l1">
      <li data-list-text="1.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 40pt;
            text-indent: -17pt;
            text-align: left;
          "
        >
          Scope of Services
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Service Provider has agreed to provide services as outlined in Scope
          of Services in Annexure I
        </p>
      </li>
      <li data-list-text="2.">
        <h1
          style="
            padding-top: 13pt;
            padding-left: 40pt;
            text-indent: -17pt;
            text-align: left;
          "
        >
          Consideration
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          The fees agreed would be as per Annexure II
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="3.">
        <h1
          style="
            padding-left: 40pt;
            text-indent: -17pt;
            line-height: 14pt;
            text-align: justify;
          "
        >
          Term &amp; Termination and Consequences of Termination
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          This Agreement shall commence with effect from
          <u
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </u>
          and shall remain valid till
          <u
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u
          >, both days included (referred to as “Term”), unless terminated
          earlier in accordance with the terms and conditions of this Agreement.
          The agreement may be renewed for a further period as mutually decided
          by the parties by a letter in writing to that effect.
        </p>
        <p
          style="
            padding-top: 3pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          This Agreement may be terminated , by either party by serving the
          other Party a sixty (60) days’ notice in writing provided that this
          Agreement shall remain effective thereafter with respect to all
          obligations that arise or are committed prior to the other Party’s
          receipt of such notice of termination and until all such pending
          obligations are fulfilled.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          In case a Party commits a material breach of any of the terms and
          conditions of this Agreement, the non-breaching Party shall give the
          defaulting Party, notice to remedy such breach within a period of
          thirty
        </p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          (30) days from the date of the receipt of such notice by the
          defaulting party. In case the defaulting Party fails to remedy such
          breach within the said stipulated period of thirty (30) days, then,
          without prejudice to the other remedies of the non-defaulting party
          under this Agreement, the non-defaulting Party may terminate this
          Agreement immediately.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Either Party may, by giving fifteen (15) days’ written notice to the
          other Party, terminate this Agreement in case bankruptcy, insolvency
          or liquidation proceedings are initiated against the other Party and
          such proceedings have not been dismissed or stayed otherwise within a
          period of one hundred and twenty (120) days from the date of filing.
        </p>
      </li>
      <li data-list-text="4.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 40pt;
            text-indent: -17pt;
            text-align: justify;
          "
        >
          Nature of Relationship
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Nothing contained in this Agreement is intended to create, nor will it
          be construed to create a relationship between the parties other than
          that of independent parties contracting with each other solely for the
          purposes of effectuating the provisions of this Agreement.
        </p>
      </li>
      <li data-list-text="5.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 40pt;
            text-indent: -17pt;
            text-align: justify;
          "
        >
          Confidentiality
        </h1>
        <p style="padding-left: 40pt; text-indent: 0pt; text-align: justify">
          <a name="bookmark0">&zwnj;</a>Each Party acknowledges that while
          performing under this Agreement, or in the course of discussing or
          negotiating this Agreement it may learn confidential, trade secret, or
          proprietary information concerning the other Party or third parties to
          whom the other Party has an obligation of confidentiality (“<b
            >Confidential Information</b
          >”). Without limiting the foregoing, either Party’s Confidential
          Information shall include, without limitation, the terms of this
          Agreement, financial information, employee information, any personal
          data/information and sensitive personal data, information regarding
          products, marketing plans, business plans. This provision shall
          survive after termination of this Agreement. Each Party agrees that:
          (a) it will use the other Party’s Confidential Information only as may
          be necessary in the course of performing duties, receiving services or
          exercising rights under this Agreement; (b) it will treat such
          information as confidential and proprietary; (c) it will not disclose
          such information orally or in
        </p>
        <p
          style="
            padding-top: 3pt;
            padding-left: 40pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          writing to any third party without the prior written consent of the
          other Party; and (d) it will not otherwise appropriate such
          information to its own use or to the use of any other person or
          entity.
        </p>
        <p
          style="
            padding-top: 12pt;
            padding-left: 40pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          <a name="bookmark1">&zwnj;</a>Without limiting the foregoing, each
          Party agrees to take at least such precautions to protect the other
          Party’s Confidential Information as it takes to protect its own
          Confidential Information. Each Party is solely responsible for all use
          of the other Party’s Confidential Information by anyone who gains
          access to the Confidential Information under such Party’s
          authorization. Each Party agrees to notify the other Party, if it
          becomes aware of any unauthorized use or disclosure of the other
          Party’s Confidential Information. If either Party believes it is
          required by law or by a court order to disclose any of the other
          Party’s Confidential Information, it shall, if legally permissible,
          promptly notify the other Party and shall make all reasonable efforts
          to allow the other Party an opportunity to seek a protective order or
          other judicial relief prior to any disclosure. Nothing in this
          Agreement shall be construed to restrict disclosure or use of
          information that: was in the possession of or rightfully known by the
          recipient, without an obligation to maintain its confidentiality,
          prior to receipt from the other Party; is or becomes generally known
          to the public without violation of this Agreement; is obtained by the
          recipient in good faith from a third party having the right to
          disclose it without an obligation of confidentiality; or is
          independently developed by the receiving Party without reference to
          the other party’s Confidential Information.
        </p>
        <p
          style="
            padding-top: 12pt;
            padding-left: 40pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          <a name="bookmark2">&zwnj;</a>The Service Provider hereby covenants,
          represents, and warrants that:
        </p>
        <ol id="l2">
          <li data-list-text="a)">
            <p
              style="
                padding-top: 11pt;
                padding-left: 40pt;
                text-indent: 3pt;
                text-align: justify;
              "
            >
              <a name="bookmark3">&zwnj;</a>any personal data, other personal
              information and sensitive personal data being shared by Alinea
              shall be used solely for the purposes described under this
              Agreement and Service Provider, its subcontractors and agents
              shall demonstrate utmost care, sensitivity and strict
              confidentiality while processing such information and shall
              strictly follow the provisions of this Agreement, all the
              applicable laws; personal data shall mean including without
              limitation to any information or data that identifies or is
              identifiable to a living, natural personal by Service Provider or
              other persons expending reasonable efforts, and sensitive personal
              data shall mean information or data revealing a person’s racial or
              ethnic origin, political opinions, religious or philosophical
              beliefs, trade-union membership, health or sex life, as well as
              genetic and biometric information.
            </p>
          </li>
          <li data-list-text="b)">
            <p
              style="
                padding-top: 12pt;
                padding-left: 40pt;
                text-indent: 0pt;
                text-align: justify;
              "
            >
              <a name="bookmark4">&zwnj;</a>it will not use any information
              disclosed hereunder for any other purpose than as set forth above;
              and
            </p>
          </li>
          <li data-list-text="c)">
            <p
              style="
                padding-top: 3pt;
                padding-left: 40pt;
                text-indent: 0pt;
                text-align: justify;
              "
            >
              <a name="bookmark5">&zwnj;</a>it will not distribute, disclose or
              disseminate information to anyone except its employees and agents
              with a need to know and who, in each case, have been informed of
              the confidential nature of the information and have agreed to be
              bound by the terms of this Agreement; in the event that Service
              Provider uses an agent or subcontractor to process, including
              collect, host, retain the information, then it shall impose upon
              such agent or subcontractor terms commensurate with those arising
              under this Agreement and only do so with the prior, written
              consent of the Alinea.
            </p>
          </li>
        </ol>
      </li>
      <li data-list-text="6.">
        <h1
          style="
            padding-top: 12pt;
            padding-left: 40pt;
            text-indent: -17pt;
            text-align: justify;
          "
        >
          Intellectual Property
        </h1>
        <ol id="l3">
          <li data-list-text="6.1">
            <p
              style="padding-left: 41pt; text-indent: 0pt; text-align: justify"
            >
              Intellectual Property/ Intellectual Property Rights” means all
              intellectual property rights protected by law throughout the
              world, including all copyrights, copyright registrations and
              applications, trademark rights, trademark registrations and
              applications, patent rights (including the right to apply
              therefore), patent applications (including the right to claim
              priority under applicable international conventions) and all
              patents issuing thereon, industrial property rights, inventions
              (whether or not patentable), together with all utility and design,
              know-how, specifications, trade names, mask-work rights, trade
              secrets, moral rights, author&#39;s rights, algorithms, rights in
              packaging, goodwill, and other intellectual and industrial
              property rights, as may exist now and hereafter come into
              existence, and all renewals and extensions thereof, regardless of
              whether any of such rights arise under the laws of India or of any
              other state, country or jurisdiction.
            </p>
            <p style="text-indent: 0pt; text-align: left"><br /></p>
          </li>
          <li data-list-text="6.2">
            <p
              style="padding-left: 40pt; text-indent: 0pt; text-align: justify"
            >
              The Service Provider acknowledges that Alinea is the owner of all
              Intellectual Property Rights associated with this Agreement
              whether undertaken jointly or individually by either party, Alinea
              does not grant any rights, interest, title, or license to the
              Service Provider. The Service Provider hereby acknowledges and
              agrees that the Intellectual Property and derivative works
              constitute and contain valuable proprietary products and trade
              secrets of Alinea, embodying substantial creative efforts and
              confidential information, ideas, and expressions. The Service
              Provider further agrees to take all reasonable steps to ensure
              that unauthorized persons will not have access to any of the
              Intellectual Property and that all authorized persons having
              access will refrain from any disclosure, duplication, or
              reproduction of the Intellectual Property except to the extent
              permitted under this Agreement.
            </p>
          </li>
          <li data-list-text="6.3">
            <p
              style="
                padding-top: 14pt;
                padding-left: 40pt;
                text-indent: 0pt;
                text-align: justify;
              "
            >
              Both parties agree that they will not use in any way, including
              but not limited to, in any publishing or advertising, any of the
              Intellectual Property, which may be in any format whatsoever
              including but not limited to, hard copy, disc or electronic medium
            </p>
            <p
              style="
                padding-top: 4pt;
                padding-left: 40pt;
                text-indent: 0pt;
                text-align: justify;
              "
            >
              whether wholly or partly completed, without the prior written
              consent of the other party.
            </p>
            <p style="text-indent: 0pt; text-align: left"><br /></p>
          </li>
          <li data-list-text="6.4">
            <p
              style="
                padding-left: 63pt;
                text-indent: -22pt;
                line-height: 14pt;
                text-align: justify;
              "
            >
              Further Assurance
            </p>
            <p
              style="padding-left: 41pt; text-indent: 0pt; text-align: justify"
            >
              Both Parties acknowledges and agrees that it does not have and
              will not obtain any proprietary right in the Intellectual Property
              or any of the works unless authorized in this Agreement.
            </p>
            <p style="text-indent: 0pt; text-align: left"><br /></p>
          </li>
        </ol>
      </li>
      <li data-list-text="7.">
        <h1 style="padding-left: 40pt; text-indent: -17pt; text-align: justify">
          Indemnification
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Service Provider shall indemnify, defend, and hold Alinea harmless
          from all claims, damages, demands, liabilities, costs, and expenses,
          arising out of or in relation with:
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <ol id="l4">
          <li data-list-text="a.">
            <p style="padding-left: 77pt; text-indent: -18pt; text-align: left">
              any act/omission of Service Provider and/ or its employees,
              Consultants or agents;
            </p>
          </li>
          <li data-list-text="b.">
            <p style="padding-left: 77pt; text-indent: -18pt; text-align: left">
              any gross negligence or fraudulent act or omission of the Service
              Provider and/or its employees Consultants or agents;
            </p>
          </li>
          <li data-list-text="c.">
            <p
              style="
                padding-left: 77pt;
                text-indent: -18pt;
                line-height: 14pt;
                text-align: left;
              "
            >
              any leak/disclosure/misuse of any confidential information;
            </p>
          </li>
          <li data-list-text="d.">
            <p style="padding-left: 77pt; text-indent: -18pt; text-align: left">
              any violation of any statutory requirement; etc.
            </p>
          </li>
        </ol>
        <p style="padding-top: 14pt; text-indent: 0pt; text-align: left">
          <br />
        </p>
      </li>
      <li data-list-text="8.">
        <h1 style="padding-left: 40pt; text-indent: -17pt; text-align: justify">
          Compliance with Laws
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          The Service Provider shall comply with all applicable laws including,
          but not limited to, (a) the Lokpal and Lokayuktas Act, 2013, the
          Indian Prevention of Corruption Act, 1988, and related anti-bribery
          laws, (b) The Sexual Harassment of Women at Workplace (Prevention,
          Prohibition and Redressal) Act 2013 and the rules, notifications etc.
          issued thereunder from time to time, and (c) laws relating to Service
          Provider’s obligations as an employer regarding the health, safety and
          payment of its employees. Service Provider’s compliance shall also
          include identifying and procuring the required permits, certificates,
          approvals, and inspections of Service Provider’s performance under
          this Agreement. Service Provider represents that it will not bribe any
          government official or entity while performing its duties pursuant to
          the terms of this Agreement. Service Provider shall not make, or offer
          to make, payments of money or provide anything of value, directly or
          indirectly, to any government official, foreign or domestic, for the
          purpose of influencing the acts of such officials, to obtain or retain
          business or gain an improper advantage in connection with any business
          venture or contract for the benefit of the Alinea.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 40pt; text-indent: 0pt; text-align: justify">
          Service Provider represents and warrants that neither Service Provider
          nor its representatives or agents has or will give, offer, promise, or
          authorize the payment of any money, services or anything else of
          value, either directly or through a third party, to any official or
          employee of any governmental authority or instrumentality, or of a
        </p>
        <p
          style="
            padding-top: 3pt;
            padding-left: 40pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          government-owned or government-controlled enterprise, or of a public
          international organization, or of any agency or subdivision thereof,
          or to any political party or official thereof, or to any candidate for
          political office or to any spouse, family member or close associate of
          any of the individuals specified above for the purpose of: (i)
          influencing any act or decision of that person in his official
          capacity, including a decision to fail to perform his official
          functions, (ii) inducing such person to use his influence with such
          governmental agency or instrumentality or such public international
          organization or political party to affect or influence any act or
          decision thereof, or (iii) securing any improper advantage.
        </p>
        <p style="padding-top: 13pt; text-indent: 0pt; text-align: left">
          <br />
        </p>
        <p
          style="
            padding-left: 40pt;
            text-indent: 0pt;
            line-height: 114%;
            text-align: justify;
          "
        >
          <a name="bookmark6">&zwnj;</a>Service Provider has all the necessary
          authority to enter into this Agreement and to consummate the
          transactions contemplated herein. This Agreement creates a binding and
          legally enforceable Agreement on Service Provider and Service Provider
          has the requisite rights, powers and titles to grant and convey Alinea
          the covenants, commitments and undertakings set forth herein;
        </p>
        <p
          style="
            padding-top: 12pt;
            padding-left: 40pt;
            text-indent: 0pt;
            line-height: 114%;
            text-align: justify;
          "
        >
          <a name="bookmark7">&zwnj;</a>Service Provider will perform its
          obligations under this Agreement in compliance with all applicable and
          enforceable laws, ordinances and regulations and will obtain and
          maintain in full force and effect, any permits, licenses, consents,
          approvals, and authorizations necessary for the performance of its
          obligations hereunder.
        </p>
        <p
          style="
            padding-top: 12pt;
            padding-left: 40pt;
            text-indent: 0pt;
            line-height: 114%;
            text-align: justify;
          "
        >
          <a name="bookmark8">&zwnj;</a>Neither the execution nor the delivery
          of this Agreement nor the consummation of the transactions
          contemplated herein conflict with or will result in a breach of any of
          the terms, conditions or provisions of any documents, agreements or
          instruments to which Service Provider is a party or by which it is
          bound.
        </p>
        <p style="padding-top: 12pt; text-indent: 0pt; text-align: left">
          <br />
        </p>
      </li>
      <li data-list-text="9.">
        <h1 style="padding-left: 40pt; text-indent: -17pt; text-align: left">
          Audit Rights
        </h1>
        <p
          class="s3"
          style="padding-left: 40pt; text-indent: 0pt; text-align: justify"
        >
          The Service Provider shall keep and maintain complete and accurate
          books, records, and accounts with respect to the Service Provider’s
          performance under the Agreement during the Term and for five (5) years
          thereafter or the period prescribed by Applicable Law, whichever is
          higher. The Service Provider shall allow the inspection and audit of
          its books and records relating to the Services, by Alinea or any
          statutory or regulatory authority to which the Alinea is subject to,
          as and when the need arises. Before conducting audit, the Alinea shall
          provide reasonable prior written notice to the Service Provider,
          wherever possible.
        </p>
      </li>
      <li data-list-text="10.">
        <h1
          style="
            padding-top: 12pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: left;
          "
        >
          Sub-Contracting
        </h1>
        <p
          class="s3"
          style="
            padding-top: 4pt;
            padding-left: 40pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          The Service Provider shall not subcontract or further outsource, as
          outlined in the Scope of Services of the Agreement, the Services or
          any part thereof to any third person nor assign or purport to assign
          any of its rights and delegate its obligations hereunder to any third
          party without the prior written consent of the Alinea.
        </p>
      </li>
      <li data-list-text="11.">
        <h1
          style="
            padding-top: 12pt;
            padding-left: 45pt;
            text-indent: -25pt;
            line-height: 14pt;
            text-align: justify;
          "
        >
          Non Solicitation
        </h1>
        <p style="padding-left: 40pt; text-indent: 0pt; text-align: justify">
          The Service Provider hereby convenants that during its association
          with the Company and for a period of two (2) years after termination
          of this agreement or expiration of this agreement by efflux of time,
          shall not solicit any customers of Alinea or potential customers of
          Alinea for any services similar to those performed by Company, even if
          not directly competitive with such services.
        </p>
      </li>
      <li data-list-text="12.">
        <h1
          style="
            padding-top: 11pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Assignment
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Neither this Agreement nor any rights, obligations or performance
          hereunder shall be assigned by either Party, directly or indirectly,
          through change of ownership or otherwise, without the prior written
          consent of the other party.
        </p>
      </li>
      <li data-list-text="13.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Severability
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          If any part or any provision of this Agreement is or becomes illegal,
          invalid, or unenforceable, that part or provision shall be ineffective
          to the extent of such invalidity or unenforceability only, without in
          any way affecting the validity or enforceability of the remaining
          parts of said provision or the remaining provisions of this Agreement.
          The Parties hereby agree to attempt to substitute any invalid or
          unenforceable provision with a valid or enforceable provision, which
          achieves to the greatest extent possible the economic, legal, and
          commercial objectives of the invalid or unenforceable provision.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="14.">
        <h1 style="padding-left: 45pt; text-indent: -25pt; text-align: justify">
          Notices
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          All written notices given pursuant to this Agreement shall be by
          e-mail, hand delivery or registered mail/post and shall be deemed to
          be given on the date such notice is dispatched or such registered
          letter is mailed or such hand delivery effected. Such written notices
          shall be sent in the name of the authorized Signatory and the
          addresses set forth in this agreement or the last known address of the
          party concerned. Each party shall promptly advise the other parties of
          any change in its address.
        </p>
      </li>
      <li data-list-text="15.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Use of Names
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          The Parties agree not to use each other&#39;s name, logo, service
          marks, trademarks, or other identifying information, including quoting
          the opinion of the Alinea’s or Service Provider’s employee in any
          advertising, public announcement or any other forum or media that
        </p>
        <p
          style="
            padding-top: 4pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          may be or may become generally available to the public without the
          written permission of the other Party.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="16.">
        <h1
          style="
            padding-left: 45pt;
            text-indent: -25pt;
            line-height: 14pt;
            text-align: justify;
          "
        >
          Force Majeure
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Neither Party shall be liable or responsible for any failure to
          perform or delay in performance of its respective obligations
          hereunder, when such failure or delay is due or attributable to or
          arises out of, any Force Majeure event, provided a notice of
          occurrence of any Force Majeure event is given by the affected Party
          to the other Party within a period of twenty-four (24) hours of the
          occurrence of such Force Majeure event.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          If the Force Majeure event continues unabated for a continuous
          uninterrupted period of thirty (30) days, then the non-affected Party
          shall be entitled to terminate this Agreement by notice in writing to
          the other Party, whereupon this Agreement shall stand terminated, in
          terms of Article 3 hereinabove.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          A Force Majeure Event is such an event including but not limited to
          vandalism and public unrest or unforeseen events like war, riots,
          strikes and acts of God and such events
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="17.">
        <h1 style="padding-left: 41pt; text-indent: -21pt; text-align: justify">
          Independent Contractor
        </h1>
        <p
          style="
            padding-top: 14pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          Service Provider shall provide the agreed Services as independent
          contractor and nothing contained herein shall be deemed to create any
          partnership, joint venture, employment or relationship of principal
          and agent between the Parties hereto or between Service Provider and
          Alinea.
        </p>
      </li>
      <li data-list-text="18.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Dispute Resolution, Governing Law and Jurisdiction
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          If there is any dispute or difference of opinion between the Parties
          in respect of any matter arising hereunder or any rights or
          obligations hereunder (a “Dispute”), then either Party may promptly
          notify the other Party of the nature of such Dispute. Both Parties’
          designated representatives shall cooperate in good faith and make a
          reasonable effort to promptly resolve such Dispute within a period of
          fifteen (15) days from the date of receipt of notice of the Dispute by
          the other Party. During such dispute, the Parties shall continue to
          meet their respective obligations hereunder without prejudice to their
          respective rights with respect to such disputed items. If such Dispute
          is not resolved after such meetings, then either Party may pursue any
          and all remedies available under this Agreement.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          In case of any disputes, the Service Provider will be liable to
          provide services till the final decision based on mutual consent, if
          the services
        </p>
        <p
          style="
            padding-top: 3pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          stop in between then it will be treated as breach of terms and
          conditions of this agreement and the Service Provider must compensate
          the loss / damage and recover all advances/payments made up to that
          period undergone by Alinea.
        </p>
        <p
          style="
            padding-top: 14pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          All Disputes under this Agreement that have not been resolved as set
          forth hereinabove shall be resolved by arbitration in Mumbai. A sole
          Arbitrator appointed with mutual consent by both the parties shall
          conduct arbitration under the Indian Arbitration and Conciliation Act,
          1996 or any re-enactment or modification thereof, Each Party shall
          bear its own cost of preparing and presenting its case. The award of
          the Arbitrator shall be final and binding on the Parties. The
          Arbitration shall be conducted and the award shall be rendered in
          English language.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Each Party agrees that, in the event of a breach or threatened breach
          of any of the provisions of this Agreement or if the Party in good
          faith believes that immediate equitable relief is necessary to protect
          its interests against irreparable harm, in addition to and not in
          limitation of, any other rights, remedies or damages available at law
          or in equity, the other Party may be entitled to seek equitable
          relief, including a temporary restraining order, preliminary
          injunction and permanent injunction in order to prevent or restrain
          any such breach or to protect its interests against such harm.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Subject to above hereinabove, the courts of Mumbai shall have
          jurisdiction in respect of any such disputes or claims.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          All the disputes or claims arising out of this Agreement shall be
          governed by the laws of India.
        </p>
      </li>
      <li data-list-text="19.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Amendment
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          This Agreement cannot be amended except by a written instrument duly
          executed by both Parties.
        </p>
      </li>
      <li data-list-text="20.">
        <h1
          style="
            padding-top: 13pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Survival
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          The Parties hereby agree that all the provisions relating to warranty
          including intellectual property warranty, indemnity, penalty, non-
          solicitation, and confidentiality shall survive termination of this
          Agreement for any extended period specified therein.
        </p>
      </li>
      <li data-list-text="21.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 45pt;
            text-indent: -25pt;
            text-align: justify;
          "
        >
          Waiver
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          Failure by any of the Parties to exercise promptly any option or right
          granted, or to require strict performance of any obligation herein
          imposed shall not be deemed to be a waiver of such rights or of the
        </p>
        <p
          style="
            padding-top: 4pt;
            padding-left: 41pt;
            text-indent: 0pt;
            text-align: justify;
          "
        >
          right to demand subsequent performance of all obligations herein
          imposed.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="22.">
        <h1
          style="
            padding-left: 45pt;
            text-indent: -25pt;
            line-height: 14pt;
            text-align: justify;
          "
        >
          Time of the Essence
        </h1>
        <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
          The Parties agree that such timelines as are prescribed under this
          Agreement stand to be essence of this Agreement.
        </p>
        <p style="text-indent: 0pt; text-align: left"><br /></p>
      </li>
      <li data-list-text="23.">
        <h1
          style="
            padding-left: 45pt;
            text-indent: -25pt;
            line-height: 14pt;
            text-align: justify;
          "
        >
          Section Headings; Strict Construction; Counterparts.
        </h1>
        <p style="padding-left: 45pt; text-indent: 0pt; text-align: justify">
          The section headings in this Agreement are included for convenience
          only. This Agreement has been reviewed and negotiated by the parties,
          and each party has had the opportunity to review this Agreement with
          counsel of its own choosing; accordingly, this Agreement shall not be
          construed strictly for or against either party. This Agreement may be
          executed in two or more counterparts, each of which shall be deemed an
          original for all purposes and together constitute one and the same
          document.
        </p>
      </li>
      <li data-list-text="24.">
        <h1
          style="
            padding-top: 14pt;
            padding-left: 49pt;
            text-indent: -29pt;
            text-align: justify;
          "
        >
          Entire Agreement
        </h1>
      </li>
    </ol>
    <p style="padding-left: 41pt; text-indent: 0pt; text-align: justify">
      This Agreement, including the relevant Annexures hereto represents the
      entire agreement between the Parties and supersedes and cancels all
      previous negotiations, agreements, or commitments (whether written or
      oral) with respect to the subject matter hereof. This Agreement shall be
      executed by the authorized representatives of both Parties.
    </p>
    <p style="padding-top: 2pt; text-indent: 0pt; text-align: left"><br /></p>
    <table
      style="border-collapse: collapse; margin-left: 41.06pt"
      cellspacing="0"
    >
      <tr style="height: 228pt">
        <td
          style="
            width: 207pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 14pt;
              text-align: left;
            "
          >
            SIGNED AND DELIVERED
          </p>
          <p
            class="s4"
            style="padding-left: 5pt; text-indent: 0pt; text-align: left"
          >
            On behalf of the SERVICE PROVIDER by its
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s4"
            style="
              padding-left: 5pt;
              padding-right: 164pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Name: {{Owner_name}}
          </p>
          <p
            class="s4"
            style="
              padding-left: 5pt;
              {% comment %} padding-right: 164pt; {% endcomment %}
              text-indent: 0pt;
              text-align: left;
            "
          >
            Title:
          </p>
          <p style="padding-top: 3pt; text-indent: 0pt; text-align: left">
            <br />
          </p>
          <p
            style="
              padding-left: 3pt;
              text-indent: 0pt;
              line-height: 1pt;
              text-align: left;
            "
          />
          <p
            class="s4"
            style="
              padding-top: 13pt;
              padding-left: 5pt;
              padding-right: 154pt;
              text-indent: 0pt;
              line-height: 199%;
              text-align: left;
            "
          >
            Witness Name :
          </p>
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 13pt;
              text-align: left;
            "
          >
            Address:
          </p>
        </td>
        <td
          style="
            width: 195pt;
            border-top-style: solid;
            border-top-width: 1pt;
            border-left-style: solid;
            border-left-width: 1pt;
            border-bottom-style: solid;
            border-bottom-width: 1pt;
            border-right-style: solid;
            border-right-width: 1pt;
          "
        >
          <p
            class="s4"
            style="
              padding-left: 5pt;
              text-indent: 0pt;
              line-height: 14pt;
              text-align: left;
            "
          >
            SIGNED AND DELIVERED
          </p>
          <p
            class="s4"
            style="padding-left: 5pt; text-indent: 0pt; text-align: left"
          >
            On behalf of the Alinea by its
          </p>
          <p style="text-indent: 0pt; text-align: left"><br /></p>
          <p
            class="s4"
            style="
              padding-left: 5pt;
              padding-right: 21pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Name: Brian Fredericks Title: Authorized Signatory
          </p>
          <p style="padding-top: 3pt; text-indent: 0pt; text-align: left">
            <br />
          </p>
          <p
            style="
              padding-left: 3pt;
              text-indent: 0pt;
              line-height: 1pt;
              text-align: left;
            "
          />
          <p
            class="s4"
            style="
              padding-top: 13pt;
              padding-left: 5pt;
              padding-right: 137pt;
              text-indent: 0pt;
              text-align: left;
            "
          >
            Witness Name : Address:
          </p>
        </td>
      </tr>
    </table>
    <h1
      style="
        padding-top: 3pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      Annexure I
    </h1>
    <h1
      style="
        padding-top: 14pt;
        padding-left: 5pt;
        text-indent: 0pt;
        text-align: left;
      "
    >
      SCOPE OF SERVICES
    </h1>
    <h1
      style="
        padding-top: 3pt;
        padding-left: 5pt;
        text-indent: 0pt;
        line-height: 200%;
        text-align: left;
      "
    >
      Annexure II FEES
    </h1>
    <p style="text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
      All the amounts mentioned above are
      <u
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u
      >of applicable taxes
    </p>
    <p style="padding-top: 6pt; text-indent: 0pt; text-align: left"><br /></p>
    <p style="padding-left: 5pt; text-indent: 0pt; text-align: justify">
      All invoices shall be paid by the Alinea within
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u> days from the date of receipt of
      proper invoice and supporting documents, if any, from the Service
      Provider.
    </p>
  </body>
</html>
